html, body {
  height: 100%;

}

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(180deg,
  #37712d 0%,
  #092f02 100%
  );
  color: #fff;
}